$util: (
    base: 1rem,
    font: 1.7rem,
    wrapper: 1440px,
    rd: .6rem,
);

$viewports: (
    sm: 480,
    md: 780,
    lg: 1024,
);

/**
 * Calculates header by the given factor with the base-font-size
 */
$headlines: (
    h1: 2.8,
    h2: 2.5,
    h3: 2,
    h4: 1.5,
    h5: 1.6,
    h6: 1,
);

/**
 * Creates colors as css-vars with clr as prefix
 * f.a. var(--clr-brand)
 */
$colors: (
    brand: #19bcf3,
    bleach: #cfe7f2,
    light: #e1f7ff,
    paper: #d8cca8,
    dblue: #227197,
    green: #14cd9f,
    med: #54a5a8,
    compink: #966691,
    comblue: #98d3ed,
    yellow: #f1e91d,
    truedark: #193849,
    white: #f9fbff
);