---
title: The Home Assistant Cloud
section: section section--full gdr gdr--linear gdr--dark
style: "--gr-color1: var(--clr-compink); --gr-color2: var(--clr-comblue); --gr-pos1: -40%"
---

<arcticle class="text-center teaser" style="--utl-wrapper: 60rem">
    <div class="wrapper">
        <h1>{{ title }}</h1>

        {% thumbs "img/screenshot-assistant.png", title, "(min-width: 30em) 50vw, 100vw", [300,600,1000], "addBottom", "--img-size: 80%" %}

        <p>
            The missing cloud piece for Home Assistant, by the founder of Home Assistant. Control your Home Assistant
            from
            anywhere.
            Fully encrypted.
        </p>

        {% btn "#", "START <strong>FREE</strong> 31 DAY TRIAL", "btn space" %}
    </div>
</arcticle>