---
title: Secure access from anywhere
---

## {{ title }}

<figure>
    {% img "remote_access.svg", title %}
</figure>

No longer worry if you left the garage door open. Quickly access your Home Assistant instance from your phone, your favorite coffeeshop or at work.

All data is fully encrypted between your device and your Home Assistant instance. No snooping.