---
title: Secure access from anywhere
section: section teaser
---

<article class="wrapper grid grid--vertical-align-center">
    <figure class="col-12 col-md-5 col-center">
        {% img "remote_access.svg", title %}
    </figure>

    <div class="col-12 col-md-6 col-center">
        <h2>{{ title }}</h2>
        
        <p>
            No longer worry if you left the garage door open. Quickly access your Home Assistant instance from your
            phone, your favorite coffeeshop or at work.
        </p>
        <p>
            All data is fully encrypted between your device and your Home Assistant instance. No snooping.
        </p>
    </div>
</article>