---
title: Fund development of Home Assistant and ESPHome
imgs:
    - title: Support the Development of Home Assistant
      src: hassio_two_lines.svg
    - title: You fund also ESP Home with your subscription
      src: esp.svg
---

## {{ title }}

{% for img in imgs %}
{% img img.src, img.title %}
{% endfor %}

We started Home Assistant and have acquired ESPHome. Today these are the biggest open source projects that keep your home private and your data local.

Home Assistant Cloud gives us the income to work full-time on these projects. And we will keep making them better for you. Nabu Casa has no investors to satisfy, just its users.