---
title: Fund development of<br/> Home Assistant and ESPHome
section: section section--full-alternate text-center gdr gdr--linear teaser
style: "--gr-color1: var(--clr-comblue); --gr-color2: var(--clr-paper); --gr-pos1: -40%"
imgs:
- title: Support the Development of Home Assistant
  src: hassio_two_lines.svg
- title: You fund also ESP Home with your subscription
  src: esp.svg
---


  <div class="wrapper" style="--utl-wrapper: 80rem">

    <h3>{{ title | safe }}</h3>
    
    {% for img in imgs %}
      {% img img.src, img.title, "addMargin byHeight", "--img-size: 14rem" %}
    {% endfor %}

    <p>
      We started Home Assistant and have acquired ESPHome. Today these are the biggest open source projects that keep
      your home private and your data local.
    </p>

    <p>
      Home Assistant Cloud gives us the income to work full-time on these projects. And we will keep making them better
      for you. Nabu Casa has no investors to satisfy, just its users.
    </p>
</div>

<footer class="section--bg-multiply text-center">
  <figure>
    {% thumbs "img/bg_nc_staff.jpg", title, "(min-width: 30em) 50vw, 100vw", [480, 900,1920], "locked" %}
  </figure>
</footer>