---
title: Text-to-speech
---

## {{ title }}
Get access to neural-network powered text-to-speech as part of your subscription. Turn any text into natural sounding audio clips to be played on any speaker that Home Assistant supports.

<figure>
    {% img "text-to-speech.svg", title %}
</figure>
