---
title: Secure access from anywhere
---

<figure>
    {% thumbs "img/shield.png", title, "(min-width: 30em) 50vw, 100vw" %}
</figure>

## {{ title }}
With Home Assistant Cloud, we will worry about the hard parts.
Just log in via Home Assistant and a secure connection with the cloud will be established. You don't have to deal with dynamic DNS, SSL certificates or opening ports on your router.

