---
title: Secure access from anywhere
section: section section--cover section--bg-fixed gdr gdr--dark
style: "background-image: url(img/bg_security.jpg)"
---

<div class="grid grid--vertical-align-center teaser text-center">
    <div class="col-12 col-md-6 col-center">
        {% thumbs "img/shield.png", title, "(min-width: 30em) 50vw, 100vw", [400,600], false, "--img-size: 60%" %}
    </div>

    <article class="col-12 col-md-6 col-center">
        <h3>{{ title }}</h3>
        <p>
            With Home Assistant Cloud, we will worry about the hard parts.
            Just log in via Home Assistant and a secure connection with the cloud will be established. You don't have to
            deal with dynamic DNS, SSL certificates or opening ports on your router.
        </p>
        {% btn "#", "Learn more", "btn btn--white btn--gap space" %}
    </article>
</div>