---
title: Let's keep advertisers in the dark
---

## {{ title }}
We live in a world where cloud companies are constantly trying to collect more of our data. With Nabu Casa we're breaking this trend.

We operate a cloud that won't store any of your data and processes commands locally. Your data stays local or with the companies you decide to share with.

