{% macro btn(title,cta,btn='') %}
    <a href="{{cta}}" title="{{title}}" class="btn {{btn}}">{{title}}</a>
{% endmacro %}



{% macro section(selector) %}
    {% for item in selector %}
        <section class="wrapper">
            {{ item.content | safe }}
        </section>
    {% endfor %}
{% endmacro %}