---
title: The Home Assistant Cloud
override:tags: ""
permalink: /
description: The missing cloud piece for Home Assistant, by the founder of Home Assistant. Control your Home Assistant from anywhere. Fully encrypted.
---
{% extends "base.njk" %}
{% import "_macros.njk" as mc %}

{% block content %}
{{ mc.section(collections.home) }}
{% endblock content %}