
$sizes: (
    base: 1rem,
    font: 1.8rem,
    wrapper: 1440px,
    
    viewports: (
        sm: 480,
        md: 780,
        lg: 1024
    ),

    headlines: (
        h1: 5.6rem,
        h2: 3.2rem,
        h3: 2.8rem,
        h4: 2.4rem,
        h5: 2rem,
        h6: 1.8rem,
    )
);

$colors: (
    brand: #19bcf3,
    bleach: #cfe7f2,
    paper: #d8cca8,
    dblue: #227197,
    green: #14cd9f,
    med: #54a5a8,
    compink: #966691,
    yellow: #f1e91d,
    truedark: #193849,
    white: #e1f7ff,
)