@use "../../vars" as vars;
@use "../../utl" as utl;

.btn{
    --btn-bg: var(--clr-med);
    --btn-font: var(--clr-white);

    font-size: var(--utl-font);
    appearance: none;
    border: 2px solid var(--btn-bg);
    background-color: var(--btn-bg);
    border-radius: var(--utl-rd);
    color: var(--btn-font);
    padding: utl.base(1) utl.base(1.6);
    display: inline-flex;
    gap: utl.base(.4);
    width: auto;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    &--ghost{
        background-color: transparent;
        color: var(--btn-bg);
    }

    &--brand{
        --btn-bg: var(--clr-brand);
    }

    &--white{
        --btn-bg: var(--clr-white);
        --btn-font: var(--clr-truedark);
    }

    &--gap{
        gap: utl.base(1);
    }
    

    strong, b{
        color: var(--btn-font);
    }

    &.space{
        margin: utl.base(.5);
    }
}