<figure>
    <a href="/" title="{{ site.name }}">
        <img src="img/nabucasa_logo.svg" alt="{{ site.name }}">
    </a>
</figure>
<nav>
    <ul>
    {%- for post in collections.content %}
        <li>
            <a href="{{ post.url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
        </li>
    {% endfor -%}
    </ul>
</nav>