@use "../../utl/" as utl;

.section {
    --top-padding: 6rem;
    padding: var(--top-padding) 0 var(--top-padding);

    &--full {
        --top-padding: 4rem;
        padding: var(--top-padding) 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(90vh - var(--top-padding));

        @media screen and (min-width: 768px) {
            min-height: 100vh;
        }
    }

    &--cover {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover cover;
        background-blend-mode: multiply;
    }
}

.teaser {
    font-size: calc(var(--utl-font) * 1.2);
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: var(--utl-wrapper);
}