@use "../../utl/" as utl;

.section {
    --top-padding: 6rem;

    padding: var(--top-padding) 0 var(--top-padding);
    z-index: 0;


    &%fullsection {
        --top-padding: 4rem;
        padding: var(--top-padding) 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &--full {
        @extend %fullsection;
        min-height: calc(98vh - var(--top-padding));

        @include utl.mq(md) {
            min-height: 100vh;
        }
    }

    &--full-alternate{
        --top-padding: 4rem;
        padding: var(--top-padding) 0 0;
        display: flex;
        flex-wrap: wrap;
    }

    &--half {
        @extend %fullsection;
        min-height: calc(45vh - var(--top-padding));

        @include utl.mq(md) {
            min-height: 50vh;
        }
    }

    &--bg-fixed {
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: multiply;
    }

    &--bg-multiply {
        padding: var(--top-padding) 0 0 0;
        width: 100vw;
        filter: grayscale(100);
        mix-blend-mode: multiply;
        opacity: .3;
        z-index: 1;
        height: 100%;
        margin: 0;
        justify-content: flex-end;
    }
}

.teaser {
    font-size: calc(var(--utl-font) * 1.2);
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: var(--utl-wrapper);
}