@use "../../vars.scss" as vars;
@use "sass:map";
@use "../../utl/" as utl;

/**
 * Simple CSS-reset and fontscaling
 */
@mixin reset {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-weight: 300;
    }

    html {
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-snap-type: y proximity;
    }
}

/**
 * Include @font-face
 */
@mixin getFonts {
    @font-face {
        font-family: 'Figtree Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 300 900;
        src: url(../fonts/figtree-latin-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
}

/**
 * Base styling
 */
@mixin base {
    body {
        font-family: "Figtree Variable", sans-serif;
        color: var(--clr-dblue);
        font-size: var(--utl-font);
        font-weight: 300;
    }

    p {
        margin-bottom: var(--utl-base);
        line-height: 1.4;
    }


    b,
    strong,
    .strong {
        font-weight: 700;
        color: var(--clr-brand);
    }

    a {
        color: var(--clr-brand);
        text-decoration: none;
        transition: ease-in all .2s;
    }

    ::selection {
        background-color: rgba(utl.grabColor(brand), $alpha: .2);
    }
}

/**
 * Create headlines
 */
@mixin headlines {
    %headline {
        line-height: 1;
    }
    
    @each $hi, $factor in vars.$headlines {
        #{$hi} {
            @extend %headline;
            font-size: calc(var(--utl-font) * $factor);
            margin-bottom: utl.base(2);
        }
    }
}

@mixin helpers {
    $align: left, right, center;

    .text {
        @each $dir in $align {
            &-#{$dir} {
                text-align: $dir;
            }
        }
    }

    .small{
        font-size: calc(var(--utl-font) * .9);
    }
}


@mixin init {
    @include reset;
    @include getFonts;
    @include base;
    @include headlines;
    @include helpers;
}