@use "../../utl" as utl;

.gdr {
    --gr-deg: 180deg;
    --gr-color1: var(--clr-white);
    --gr-color2: var(--clr-brand);
    --gr-pos1: 0;
    --gr-pos2: 100%;
    --gr-font: var(--clr-dblue);
    color: var(--gr-font);

    
    &--linear {
        background: linear-gradient(var(--gr-deg), var(--gr-color1) var(--gr-pos1), var(--gr-color2) var(--gr-pos2));
    }

    &--radient{
        background: radial-gradient(circle, var(--gr-color1) 0%, rgba(255,255,255,0) 100%);
    }

    &--radient-main{
        $color1: rgba(utl.grabColor(brand), $alpha: .22);
        background: radial-gradient($color1 0%, rgba(255,255,255,0) 75%);
    }

    &--radient-main-green{
        $color1: rgba(utl.grabColor(green), $alpha: .42);
        background: radial-gradient($color1 0%, rgba(255,255,255,0) 75%);
    }

    &--dark {
        --gr-font: var(--clr-white);
        text-shadow: 0 3px 5px rgba(0,0,0, .1);
    }
}